aiodns
aiohttp
aiomysql
brotli
brotlicffi
cryptography
email-validator
fastapi
fastapi-cli
githubkit
h2
httptools
nonebot-adapter-onebot
nonebot-plugin-alconna
nonebot-plugin-apscheduler
nonebot-plugin-htmlrender
nonebot-plugin-orm
nonebot-plugin-sentry
nonebot-plugin-status
nonebot-plugin-uninfo
openai
pip-chill
pipreqs
pipx
pydantic-extra-types
pydantic-settings
pyjwt
pyright
pysocks
python-multipart
ruff
tomli
typer-slim
watchfiles
websockets
win-inet-pton
